html{
  height: 100%;
  box-sizing: border-box;
}

.body-load{
  background-color: #071445;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.secure-button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: fixed;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  cursor:pointer;
  transition: opacity 0.4s cubic-bezier(0.86, 0, 0.07, 1),
  visibility 0.9s cubic-bezier(0.23, 1, 0.320, 1) ease-out;
  
}

.secure-button.active{
  opacity: 1;
  visibility: visible;
}

.secure-button.in-load{
  animation: loading 2s linear infinite ;
}

@keyframes loading{
  0%{
    box-shadow:0 -2px 0 0   red;
  }
  25%{
    box-shadow:0 -2px 0 0  red;
  }
  50%{
    box-shadow:-2px 0 0 0 red;
  }
  75%{
    box-shadow:0 2px 0 0  red;
  }
  100%{
    box-shadow:2px 0 0 0  red
  }

}

.secure-button svg{
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  
}

.secure-button svg path{
  fill: white;
}

.account-btns{
  visibility: hidden;
  opacity: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 15px;
  width: min(900px, 95%);
  height: 70vh;
  transition:opacity 0.4s cubic-bezier(0.86, 0, 0.07, 1), visibility 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.account-btns.active{
  visibility: visible;
  opacity: 1;
}

.account-btns.active div{
  background-color: #071499;
  width: 200px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  text-align: center;

}

.tittle{
  bottom: 10%;
  left: 50%;
  color: white;
  font-weight: bolder;
  transform: translate(-50%, -10%);
  position: absolute;
}



/*forms*/
.body-create{
  background-color: #191f35;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid rgb(0, 217, 255);
}
.tag{
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.90);
  width: max-content;
  height: max-content;
  white-space: nowrap;
  position: relative;

  color: white;
  
  padding: 10px;
  display: flex;
  top: 0%;
  left: 100%;
  transform: translate(10%, -80%);
}

.tag.active{
  visibility: visible;
  opacity: 1;
}

.form-container{
  padding: 10px;
  width: min(800px, 70%);
  color: white;
  background-color: rgba(227, 227, 227, 0.4);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid rgb(0, 217, 255);
  transform: translate(-50%, -50%);
  display: flex;
}

.body-feed{
  margin: 0;
  background-color: #071445;
  border: 2px solid cyan;
  min-height: 100%;
}

.nav-bar{
  padding: 5px;
  background-color: black;
  color: white;
  display: flex;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;

}

.nav-links{
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav-links svg{
 width: 30px;
 height: 30px;
}

.feed-container{
  background: white;
  width: min(900,95%);
  min-height: 100%;
  margin-top: 30px;
  color: black;
  display: grid;
  justify-content: center;
  align-items: center; 
  gap: 20px;
}

.pop-up-post{
  visibility: hidden;
  opacity: 0;
  width: min(500, 80%);
  aspect-ratio: 1;
  background: rgba(255, 255, 255, 0.40);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 10px;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1),
  visibility 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pop-up-post.active{
  visibility: visible;
  opacity: 1;
}

.post{
  width: max-content;
  height: max-content;
  background-color: blue;
  color: white;


}
