html{
  height: 100%;
  box-sizing: border-box;
}

.body-load{
  background-color: #071445;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.secure-button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: fixed;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  cursor:pointer;
  transition: opacity 0.4s cubic-bezier(0.86, 0, 0.07, 1),
  visibility 0.9s cubic-bezier(0.23, 1, 0.320, 1) ease-out;
  
}

.secure-button.active{
  opacity: 1;
  visibility: visible;
}

.secure-button.in-load{
  animation: loading 2s linear infinite ;
}

@keyframes loading{
  0%{
    box-shadow:0 -2px 0 0   red;
  }
  25%{
    box-shadow:0 -2px 0 0  red;
  }
  50%{
    box-shadow:-2px 0 0 0 red;
  }
  75%{
    box-shadow:0 2px 0 0  red;
  }
  100%{
    box-shadow:2px 0 0 0  red
  }

}

.secure-button svg{
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  
}

.secure-button svg path{
  fill: white;
}

.account-btns{
  visibility: hidden;
  opacity: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 15px;
  width: min(900px, 95%);
  height: 70vh;
  transition:opacity 0.4s cubic-bezier(0.86, 0, 0.07, 1), visibility 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.account-btns.active{
  visibility: visible;
  opacity: 1;
}

.account-btns.active div{
  background-color: #071499;
  width: 200px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  text-align: center;

}

.tittle{
  bottom: 10%;
  left: 50%;
  color: white;
  font-weight: bolder;
  transform: translate(-50%, -10%);
  position: absolute;
}



/*forms*/
.body-create{
  background-color: #191f35;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid rgb(0, 217, 255);
}
.tag{
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.90);
  width: max-content;
  height: max-content;
  white-space: nowrap;
  position: relative;

  color: white;
  
  padding: 10px;
  display: flex;
  top: 0%;
  left: 100%;
  transform: translate(10%, -80%);
}

.tag.active{
  visibility: visible;
  opacity: 1;
}

.form-container{
  padding: 10px;
  width: min(800px, 70%);
  color: white;
  background-color: rgba(227, 227, 227, 0.4);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid rgb(0, 217, 255);
  transform: translate(-50%, -50%);
  display: flex;
 

}

.body-feed{
  margin: 0;
  background-color: #071445;
  border: 2px solid cyan;
  min-height: 100%;
  
  
}

.nav-bar{
  padding: 5px;
  background-color: black;
  color: white;
  display: flex;
  height: 50px;
  position: fixed;
  justify-content: center;
  bottom: 0;
  width: 100%;
  z-index: 9999;

}

.nav-links{
  display: flex;
  list-style: none;
  gap: 4rem;
}

.nav-links svg{
 width: 30px;
 height: 30px;
 transition: all 0.5s ease;
 cursor: pointer;
}

.nav-links svg:hover path{
  fill: rgb(68, 154, 185);
}
.nav-links img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgb(28, 255, 191);
  transition: all 0.5s ease;
}

.nav-links img:hover{
  filter: blur(2px);
  cursor: pointer;
}


.feed-container{
  background: rgba(255,255,255,0.40);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  width: 95%;
  min-height: 100vh;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  margin-top: 30px;
  color: black;
  display: flex;
  margin: 30px auto;
  
  align-items: center; 
  gap: 20px;
  
 
 
   flex-direction: column;
}
.feed-container.active{
  background: rgba(255,255,255,0.40);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  width: 95%;
  min-height: 100vh;
  visibility:visible;
  opacity: 1;
  overflow-y: auto;
  margin-top: 30px;
  color: black;
  display: flex;
  margin: 30px auto;
  
  align-items: center; 
  gap: 20px;
  
 
 
   flex-direction: column;
}



.pop-up-post{
  visibility: hidden;
  opacity: 0;
  width: 60%;
  aspect-ratio: 1;
  background: rgba(255, 255, 255, 0.40);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  position: fixed;
  top: 50%;
  left: 50%;
  border: 4px solid rgb(120, 246, 255);
  transform: translate(-50%, -50%);
  padding: 10px;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1),
  visibility 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pop-up-post.active{
  visibility: visible;
  opacity: 1;
}

.pop-up-post textarea{
  width: 100%;
  height: 30vh;
}

.post{
  width: 98%;
  padding: 30px;
  min-height: 30vh;
  max-height: max-content;
  background-color: rgb(255, 255, 255);
  color: black;
  box-sizing: border-box;
  margin-top: 20px;

}

.image-post img{
  max-width: 95%;
  min-width: 200px;
  min-height: 200px;

}

.pass-post-container{
  visibility: hidden;
  opacity: 0;
  position: relative;
  transition: visibility 1s cubic-bezier(0.075, 0.82, 0.165, 1),
  opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pass-post-container.active{
  visibility: visible;
  opacity: 1;
}

.account_page > *{
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255,255,255,0.40);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(12px);
  width: 80%;
  min-height: 100vh;
  height: auto;


  transition: visibility 1s cubic-bezier(0.075, 0.82, 0.165, 1),
  opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 9000;
  position: absolute;
  top: 10px;
  left: 50%;
  
  transform: translate(-50%, 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.account_page.active > *{
  visibility: visible;
  opacity: 1;
  
}

.account_page.active .form-updater{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center; 

  margin-top: 20%;
  left: 50%;
  transform: translate(-50%,0);
  position: absolute;
}
.account_page.active .form-updater input{

  border: 2px solid rgb(28, 255, 191);
  border-radius: 10px;
  padding: 15px;
  color: rgb(12, 29, 66);
}
.account_page.active .form-updater button{
 background-color: rgb(12, 29, 66);
 border-radius: 15px;
 border: 1.5px solid rgb(28, 255, 191);
 width: 200px;
 height: 50px;
 font-size: 18px;
 color: rgb(28, 255, 191);
 transition: all 0.5s ease;
}
.account_page.active .form-updater button:hover{
  background-color: white;
  color: rgb(28, 255, 191);
  border: 2px solid rgb(28, 255, 191);
}

.field{
  width: 100%;
}

.input-group{
  display: flex;
  align-items: center;
  gap: 10%;

}

.input-group input{
  flex: 1;
}


.account_page.active .form-updater svg{
  width: 20px;
  height: 20px;
}
.account_page.active .change_picture{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 10px);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(12, 29, 66);
  color: rgb(28, 255, 191);
  text-align: center;
  border: 1.5px solid rgb(28, 255, 191);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.account_page.active .change_picture:hover{
  position: absolute;
  top: 10px;
  left: 50%;
 
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(12, 29, 66);
  text-align: center;
  border: 1.5px solid rgb(12, 29, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-10px), translate(-50%, 10px);
  cursor: pointer;
}

.account_page.active .change_picture #user-picture{
  opacity: 0;
  position:absolute;
  width: 150px;
  height: 45px;
  cursor: pointer;
}

.user-image.hide{
  opacity: 0;
  visibility: hidden;
}

.account_page.active .user-image{
  width: 200px;
  height: 200px;
  border: 5px solid rgb(28, 255, 191);
  background-color: #191f35;
  position: absolute;
  border-radius: 50%;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 50px);
  opacity: 1;
  visibility: visible;

}

.account_page.active img{
   width: 200px;
   height: 200px;
   border: 5px solid rgb(28, 255, 191);
   background-color: #191f35;
   position: absolute;
   border-radius: 50%;
   top: 40px;
   left: 50%;
   transform: translate(-50%, 50px);
   z-index: 9000;
}

/*verify page*/
.auth-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-10%);
  flex-direction: column;

}

.auth-form{
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 15px;
}

.auth-form input{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
}




@media (min-width: 1024px) {
   
  

  .nav-links{
    
    gap: 15rem !important;
  }

  .nav-links svg{
  width: 30px;
  height: 30px;
  }
  .nav-links img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgb(28, 255, 191);
  }


.account_page.active .form-updater{
 
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10% !important;
  position: absolute !important;

}
.account_page.active .form-updater input{

  border: 2px solid rgb(28, 255, 191);
  border-radius: 10px;
  padding: 15px;
  color: rgb(12, 29, 66);
}
.account_page.active .form-updater button{
 background-color: rgb(12, 29, 66);
 border-radius: 15px;
 border: 1.5px solid rgb(28, 255, 191);
 width: 200px;
 height: 50px;
 font-size: 18px;
 color: rgb(28, 255, 191);
 transition: all 0.5s ease;
}
.account_page.active .form-updater button:hover{
  background-color: white;
  color: rgb(28, 255, 191);
  border: 2px solid rgb(28, 255, 191);
}

.field{
  width: 100%;
}

.input-group{
  display: flex;
  align-items: center;
  gap: 10%;

}

.input-group input{
  flex: 1;
}

}

/* PANTALLA DIVIDIDA MEDIANA: Entre 768px y 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .nav-bar {
    background-color: #071499; /* Azul temporal solo para probar */
  }
  .nav-links {
    gap: 4rem; /* Un poco más de espacio que en móvil, pero menos que en PC */
  }
}
