<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Account</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body class="body-create">
  <div class="form-container" id="create-container">
     <form id='create-form' method="post">
       <h1>Create Account</h1>
       <label for="username">Enter an username:</label>
       <input type="text" name="username" id="username">
       <span id="tag-name-input-ac" class="tag">
         Please, enter an username!
       </span>
       <label for="mail">Enter your email:</label>
       <input type="email" name="mail" id="mail" required>
       <span id="tag-mail-input-ac" class="tag">Please, enter an email</span>
       <label for="password">Enter an password:</label>
       <input type="password" name="password" id="password">
      <span class="tag" id="tag-pass-input-ac">Enter a password!</span>
      <button type="button" id="button-sub-ac">Create Account</button>
     </form>
  </div>
  <script>
    const button_submit = document.getElementById('button-sub-ac');
    const username_field = document.getElementById('username');
    const mail_field = document.getElementById('mail');
    const pass_field = document.getElementById('password');
    const tag_name = document.getElementById('tag-name-input-ac');
    const tag_mail = document.getElementById('tag-mail-input-ac');
    const tag_pass = document.getElementById('tag-pass-input-ac');
    const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

    button_submit.addEventListener('click', async (e)=> {
      e.preventDefault();
      if(username_field.value == ""){
         tag_name.classList.add('active');
      }
      if(mail_field.value == ""){
        tag_mail.classList.add('active');
      }

      if(!emailRegex.test(mail_field.value)){
        tag_pass.innerText = "Ingrese un email valido";
        tag_pass.classList.add('active');
      }
      if(pass_field.value == ""){
        tag_pass.classList.add('active');
      }
      tag_name.classList.remove('active');

      const response = await fetch(`/create-account`, {
        method:"POST",
        headers:{
          "Content-Type":"application/json"
        },
        body: JSON.stringify({
          "username":username_field.value,
          "mail":mail_field.value,
          "password":pass_field.value
        })
      });

      const data = await response.json();
      if (data.success == true) {
        window.location.href = `/feed`;
      }
      else{
        console.log('error');
      }

    });
  </script>
</body>
</html>
